@use "./App.scss";

.containerClasses{
    width: 100vw;
    height: auto;
    position: relative;
    top: 5vh; left: 0;
    z-index: -1;
    /** GRID CONTAINER **/
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 4;

    overflow: hidden;
    background-image: url('../assets/img/background.jpg');
    
    text-align: center;

    .titleClasses{
        grid-column-start: 1;
        grid-column-end: -1;   
        padding: 5%;
        background-image: url('../assets/img/classes_hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: App.$white;

        h1{
            font-family: 'Krona One', sans-serif;
            font-size: 60px;
        }

        h4{
            font-size: 20px;
        }

    }

    .galleryClasses{
        grid-column: 2/15;
        overflow: hidden;
        display: flex;

        img{
            padding: 3% 0;
        }
        
    }

    .placesClassesSection{
        grid-column: 2/15;
        display: flex;
        color: App.$white;
        padding: 2%;

        .placesClasses{
            display: flex;
            margin: auto;

            p{
                padding: 0 2% 0 2%;
            }
        }
    }

    .joinClasses{
        grid-column: 2/15;
        color: App.$white;
        background-color: App.$red;
        height: 50vh;
    }

}