@use "./App.scss";

.containerContact{
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 5vh; left: 0;
    z-index: -1;
    /** GRID CONTAINER **/
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 2;

    overflow: hidden;
    background-image: url('../assets/img/background.jpg');
    

    .titleContact{
        grid-column-start: 1;
        grid-column-end: -1;   
        padding: 5%;
        text-align: center;
        color: App.$white;

        h1{
            font-family: 'Krona One', sans-serif;
            font-size: 60px;
        }


    }

    .writeUs{
        grid-column: span 5;
        margin: auto;

        h3{
            font-family: 'Krona One', sans-serif;
            font-size: 30px;
            color: App.$white;
        }

        .iconWrite{
            margin-right: 12px;
            color: App.$white;
        }

        ul{
            list-style-type: none;
            margin:4% 0; padding: 0;
            overflow: hidden;
            
            li{
                padding: .4rem;

                a{
                    color: App.$white;
                    text-decoration: none;
                }
            }
        }
    }

    .mapsClasses{
        grid-column: span 10;
        display: flex;

        div{
            padding: 2%;
            text-align: center;

            h3{
                font-family: 'Krona One', sans-serif;
                font-size: 20px;
                margin-top: 15px;
                color: App.$white;
            }

            .socialsClass{
                
                a{
                    padding: 5px;
                    font-size: 18px;
                    color: App.$white;
                    text-decoration: none;
                }
            }
        }
    }

}